name: Run benchmarking tool

# Build on every branch push, tag push, and pull request change:
on:
  push:
  pull_request:

jobs:
  run_benchmark:
    name: Benchmark os=${{ matrix.os }}/sw_mode=${{ matrix.sw_mode}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2025, macos-14]
        sw_mode: [force, auto]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: '3.14'

      - name: Install tox-uv
        run: pip install tox-uv

      - name: Benchmark with 1 [GB] 10 times
        env:
          CRC32C_SW_MODE: ${{ matrix.sw_mode }}
        run: tox -e benchmark -- -i 10 -s 1073741824
